.content{
    width:99.9%;
    padding:0;
}
.conteiner{
    width:100%;
    height:300px;
    overflow: hidden;
    position:relative;
    padding:0;
    border-style:double;
 border-bottom-width:3px;
 border-color:black;
}
.conteiner2{
    width:100%;
    height:400px;
    overflow: hidden;
    position:relative;
    padding:0;
    border-style:double;
 border-bottom-width:3px;
 border-color:black;
}
.message{
    margin:0;
    margin-top: 3%;
    
    display:block;
}

.message .image{
    float:left;
    position:relative;
    display:inline;
    margin-left: 1%;
    
}
.message .content1{
    
    margin-left: 0.5%;
    color:grey;
}
.message .displayName{
    
    margin-left: 0.5%;
    color:black;
    text-decoration: none;
}
.messageInput{
    margin:0;
}
.conversation{
    display:inline-block;
    padding:1%;
    border:double;
    position:relative;
    height: 80px;
}
.conversation .image{
    display:inline-block;
    float:left;
    position:relative;
}
.conversation .displayName{
    color:black;
    text-decoration:none;
}
.conversation .last_message{
    color:grey;
}

.conversation .date{
    color:grey;
    display:inline;
    float:right;
}
.messageInput{
    margin:0;
}
.hyperspan
{
    background: white;
    opacity: .3;
    position:absolute;
    width:100%;
    height:100%;
    
    left:0;
    top:0;
    z-index:1;
}