@font-face
{
  font-family: gotic;
  src:  url(../fonts/gotic.ttf) format("truetype");
}
@font-face
{
  font-family: akapitowka;
  src:  url(../fonts/akapitowka.ttf) format("truetype");
}

@font-face
{
  font-family: font2;
  src: url(../fonts/font6.TTF) format("truetype");
  
}
fieldset{
    border: 20px solid transparent;
    -webkit-border-image: url(../images/border.png) 40 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 40 round; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 40 round;
}
body{
    background-image: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position: center;
    margin: 0 auto;
}
.displayProfile{
    text-decoration: none;
    color:black;
}

#myConteiner{
    width:80%;
    margin: 0 auto;
    font-family: Times New Roman;
    font-size:85%;
}

nav {
    width: 100%; 
    
}


#contents{
    
    margin-top: 1%;
    padding:0;
    float:left;
    width:100%;
    margin-bottom: 1%;
}

#contentsNarrower{
    
    margin-top: 1%;
    padding:0;
    float:left;
    width:64%;
    margin-bottom: 1%;
}

div.title{
    display:inline-block;
    
    
}
div.title a{
    display:block;
    margin:0 auto;
    font-family:font2;
    padding-top:1%;
    padding-bottom:1%;
    padding-left: 15%;
    padding-right: 15%;
    background-color:black;
    color:white;
    font-size:129%;
    margin-bottom: -1%;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    
}
div.title.position a{
    font-size:130%;
    background-color:white;
    color:black;
}
div.bigbox{
    box-shadow:3px 3px 6px black;
    background-color: white;
    
}
div.bigbox h3{
    padding-left:1%;
    border-top-style:double;
    border-top-width:3px;
    border-bottom-style:double;
    border-bottom-width:3px;
    font-family:font2;
    font-size: 170%;
    font-weight: normal;
    margin-top:0;
    margin-bottom:0;
}
div.bigbox p.discription{
    margin:0 auto;
    padding:3%;
    position: relative;
}

div.bigbox p.discription:first-letter
{
    font-family:akapitowka;
    font-size:400%;
    float:left;
}

#sidePanel{
    float:left;
    width:35%;
    margin-left:1%;
    margin-bottom: 1%;
}
#sidePanel div.box{
    background: white;
    box-shadow:3px 3px 6px black; 
    margin-top: 10%;
    border-bottom-style:double;
    border-bottom-width:3px;
}
#sidePanel h2.title{
    padding-left:1%;
    border-top-style:double;
    border-top-width:3px;
    border-bottom-style:double;
    border-bottom-width:3px;
    font-family:font2;
    font-size: 130%;
    font-weight: normal;
    margin-top:0;
    margin-bottom:0;
}

footer{
    
    clear:both;
    width:100%;
    text-align:left;
    color:white;
    font-size:85%;
    padding-top:3%;
    padding-bottom:1%;
}
.tytul_listy{
    font-weight: bold;
    padding-left:3%;
}
.bigbox ul{
   padding-bottom:3%; 
}
@media all and (min-width: 1100px) {

}

@media all and (max-width: 1100px) and (min-width: 1000px) {

}

@media all and (max-width: 1000px) and (min-width: 800px) {

    #container{
    width:80%;
    font-size:80%;
}
    

#contents{
    float:left;
    margin-top: 1%;
    width:100%;
    margin-bottom:0;
}
#side_panel{
    width:100%;
}
div.box{
    float:left;
    width:48%;
    margin-left:1%;
}


}

@media all and (max-width: 800px) {

    #container{
    width:85%;
    font-size:80%;
}

#contents{
    float:left;
    margin-top: 1%;
    width:100%;
    margin-bottom:0;
}
#side_panel{
    width:100%;
}
div.box{
    float:left;
    width:48%;
    margin-left:1%;
}

}

@media all and (max-width: 500px) {

    #conteiner{
    width:85%;
    font-size:75%;
}

#contents{
    float:left;
    margin-top: 1%;
    width:100%;
    margin-bottom:0;
}
#side_panel{
    width:100%;
    padding:0;
}
div.box{
    float:left;
    width:100%;
    margin:0;
}

}
